/*form styles*/
#msform {
	width: 70%;
  min-width: 400px;
  max-width: 800px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 15px 15px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;

	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #d0301b;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #d0301b;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #d0301b;
	color: white;
}

/* Eigener Code */
.el-row{
  width: 100%;
  font-size: 13px;
}

.input_wrapper{
  background-color: #ddd;
  padding: 15px;
  border-radius: 5px;

}

#form_wrapper{
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow-y: scroll;
}

#form_inner_wrapper{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow-y: auto;
}

#msform{
  z-index: 9999;
	color: black;
}

.small_text{
	font-size: 10px;
}

#msform_close{
  position: absolute;
  right: 10%;
  z-index: 9;
  border: 0px;
  padding: 5px;
}

#close_link{
  position: absolute;
  right: 11%;
  top: 70px;
  z-index: 9;
  text-decoration: none;
  font-size: 20px;
}

.invest-calculator{
	margin-top: 50px;
	margin-bottom: 50px;
}

.action-button, input, label, p{
    font-family: 'Roboto', sans-serif !important;
}

.form_link{
  color: #777;
}

/* Investment Calculator */
#investment-calculator-wrapper{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	z-index: 9999;
	overflow-y: auto;
	text-align: right;
}

#close_calculator{
	position: absolute;
	right: 10px;
	top: -10px;
	background-color: transparent;
	padding:0px;
	margin: 0px;
	border:0px;
	color:#d0301b;
	position: relative;


}
.invest-calculator-innerwrapper{
	text-align: center;
	width: 100%;
}

#etherwallet_address_form{
	border: 2px solid white;
	margin-top: 10px;
	padding: 10px;
}
#etherwallet_address_form p{
	margin: 0px;
	padding: 0px;
}

#investment-calculator-wrapper{
  display: none;
}

.ethereum_form_address{
	font-size: 10px;
}

.current{
	color: pink !important;
	background-color: blue !important;
}
